.postAndCommunity{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: flex-start;
    gap: 3rem;
}

.popularPosts{
    
    flex: 70%;
}

.community{
    flex: 30%;
}